@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Source+Sans+Pro|Delius+Unicase');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.verticalBranding{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    letter-spacing: 0.1em;
    transform: translateY(-50%);
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 1;
}

.navButtons{
    position: fixed !important;
    top: 50% !important;
    right: 3% !important;
    transform: translate(50%, -50%) !important;
    z-index: 2 !important;
}

.standardDiv{
    height: 100vh;
    width: 100vw;
}

#intro{
    text-align: left;
    position: relative;
    margin-left:15%;
    background-image: url("");
}

.verticalContent{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

#demoButton{
    background-color: #fcc01b !important;
    box-shadow: 0 0 14px 0 rgba(252,83,26,0.1) !important;
}
#contactButton {
    background-color: #33477a !important;

}
.blue{
    color: #33477a;
}

.white{
    color: #FFFFFF;
}


.branding{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2em;
    font-size: 3em;
    color: #33477a;
    font-weight: 100;
}

.notoSerif{
    font-family: 'Noto Serif', serif;
}

.sourceSansPro{
    font-family: 'Source Sans Pro', sans-serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}

.commonSlogan{
    position: relative;
    font-size: 4em;
    font-weight: bold;
    color: #33477a;
    margin: 0;
    text-align: center;
}
.sectionTitle {
  position: relative;
  font-size: 3em;
  font-weight: 700;
  color: #33477a;
  margin: 0;
  text-align: center;
}
.aboutTitle {
  position: relative;
  font-size: 2em;
  font-weight: 300;
  color: #004ca3;
  text-align: center !important;

}
.clientLogo{
  width: 80%;
  margin: auto;
  margin-bottom:-3%;
}

.clientLogo img{
  margin: 3%;
  width: 18%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);
}
.introPara{
    font-size: 1.5em;
    width: 28%;
    color: #33477a;
    margin-bottom: 2% !important;
    margin-top: -5%;
}
.blueBG{
    background: #1c64bc !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    color: white;
}


.bgImage{
    z-index: 0;
}

#aboutContent{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 55%;
    z-index: 1;
}

#aboutHeader{
    font-size: 5.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2%;
}

.aboutText{
    font-size: 1em;
    font-weight: 700;
    margin: 13% 13% 0 13%;
      color: #333;

}
.text-white{
        color: white;
}

#product{
    position: relative;
}

#productContent{
    position: absolute;
    top: 20%;
    right: 7.5%;
    width: 35%;
    text-align: right;
}

.prodImage{
    width: 70%;
    height: auto;
    z-index: 0;
    margin-left: 1%;
}

.productSlogan{
    font-size: 6em;
    font-weight: bold;
    color: #33477a;
}

#mobile{
    position: relative;
    background-image: url("https://s3.amazonaws.com/virtision-tech-assets/images/mobile.jpg");
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sloganAboveImage{
    height: auto;
    padding: 0 0 2% 0;
}
.sloganAboveTile{
      height: auto;
      margin-top: 5%;
}

.sloganAndImageDiv{
    position: relative;
    overflow: hidden;
}

#vrImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://s3.amazonaws.com/virtision-tech-assets/images/vr_user.jpg");
}

#visualizeImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://s3.amazonaws.com/virtision-tech-assets/images/visualizing.jpg");
}
#topImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("https://s3.amazonaws.com/virtision-tech-assets/images/BG.png");
}

#about {

    margin-top: 2%; /* TODO: this is just a prop-up fix and is not at all responsive!!! */
    position: relative;
    width: 100%;
    background-color: #1c64bc;
    padding-top: 3%;
      padding-bottom: 3%;

}
#video{
    position: relative;
    width: 100%;

}
#client{
  margin-top: 2%;
  position: relative;
  width: 80%;
  padding-top: 3%;
  padding-bottom: 5%;

}
#quote{
  position: relative;
  padding: 1px 0;
    background: url("https://s3.amazonaws.com/virtision-tech-assets/images/quotebg.png")
}
.visual{
  z-index: 100;
  margin: auto;
  opacity: .8;
}
.visual-text {
  padding: 0.1em 0.25em;
}
.aboutHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: #33477a;
    font-weight: 100;
}

.aboutPara {
    font-size: 1.25em;
    text-align: left;
}

#contact{
    position: relative;
  padding-top: 3%;
    padding-bottom: 3%;

}

#contactForm{
    position: relative;

}
.blueStats{
  color:#004ca3;
  float: left;
}
.clientQuote{
  width: 100%;
  margin: auto;

}
.testimonial blockquote {
  margin: 30px 30px 0;
  background: #fff;
  padding: 40px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.5)
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  margin: 0 0 0 60px;
}

.testimonial p {
  width: 100%;
  margin: 8px 0 0 20px;
  text-align: left;
  font-weight: bold;
  color: #fff;
}
.content{
  max-width: 1000px;
 margin: 25vh auto;

}
.quote{
  max-width: 1300px;
  padding: 2%;
  background: #1c64bc;
}
#multiPlatform{
    height: 70%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://s3.amazonaws.com/virtision-tech-assets/images/Desktop2.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.mpImages{
    height: 30%;
    width: 30%;
}
.mailbtn{
  position: fixed;
  bottom: 5px;
  left: 5px;
  float: left;
  margin-left: 1vw;
  display:block;

}
.mailbtn img{
  width: 30%;
  transform: rotate(30deg);

}
.card {
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  min-width:0;
  word-wrap:break-word;
  background-color:#fff;
  background-clip:border-box;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.5);
  border-radius:.25rem;
  margin: 5%;



}
.row1 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin: 3%;
  margin-top:1%;

}
.col1 {
  -webkit-box-flex:0;
  -ms-flex:0 0 33.333%;
  flex:0 0 33.333%;
  max-width:33.333%;
}

.card p{
 font-size: 1em;;
 margin: 3% 13% 0 13%;
}

.footer {
    padding-top: 3%;
    padding-bottom: 3%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #555;
    text-align: center;
    text-transform: none;
    font-size: 0.5em;
}
.whiteBG{
  background: white;
}
@media screen and (max-width:900px) {
  .branding{
    font-size: 1.3em;
  }
  .introPara{
      font-size: 1em;
      width: 45%;
    }
    .col1 {
      -webkit-box-flex:0;
      -ms-flex:0 0 100%;
      flex:0 0 100%;
      max-width:100%;
    }
}
@media screen and (max-width:400px) {
  .introPara{
      font-size: 1em;
      width: 40%;
    }
}
